body, html {
  margin:0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #3d3c40;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

h1 {
  margin: 0;
  font-size: 2em;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size:1.25em
}

h4 {
  font-size: 1em;
}

p {
  text-align: justify;
}

code,
pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-wrap: break-word;
  font-size: 0.77777777em;
  line-height: 1.4em;
  color: rgba(0,0,0,0.6);
}

pre {
  border-left: 1px dashed rgba(0,0,0,0.1);
  padding-left: 10px;
}

article a {
  color: rgb(101,122,151);
  border-bottom: 1px dashed rgba(0,0,0,0.1);
  text-decoration: none;
}

em,
strong {
  font-style: normal;
  font-weight: 400;
}

.container {
  margin: 30px auto;
  max-width: 800px;
}

aside {
  text-align: right;
}

blockquote {
  color: rgba(0,0,0,0.6);
  margin-left: 0;
  border-left: 10px rgba(0,0,0,0.05) solid;
  padding-left: 30px;
}

/* components */
.main-nav {
  padding: 15px 20px 5px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.main-nav .brand {
  width: 148px;
  margin: .075em 0;
}

.summary article {
  margin-top: 40px;
}

.post aside {
  text-align: left;
  margin-top: 5px;
  font-weight: 400;
}
